body {
  font-family: 'Inter', sans-serif;
}

.card-shadow {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

/* Ícone branco do calendário no modo escuro */
.dark input[type="month"]::-webkit-calendar-picker-indicator {
  filter: brightness(0) invert(1);
}